<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>クラス更新画面 | 授業クラス管理システム</title>

<!-- CSS -->

<link rel="stylesheet" th:href="@{/css/style.css}" />




</head>
<body>
	
	
	
	<header th:replace="~{/manager/layouts/layout :: common_header_after}">
		

		
	</header>

	
	
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2>クラス更新</h2>
				
			</div>		
				
					
			<div class="sub-link">
				
<!--				<a th:href=""></a>-->
				
			</div>	
				
	
		</div>
		

		
		<div class="container">
		
			
			<p class="err" th:text="${class_set_result}"></p>
			
			<form method="post" th:action="@{/manager/class_update}" class="form class-set-form" th:object="${class_set_data}">
				
				
				<div>
					
					<label for="startYear">入学年度</label>
						
					<input type="text" th:field="*{startYear}" maxlength="10" required />
					
				</div>
				
				<div>
					
					<label for="majorName">専攻名</label>
					
					<select th:field="*{majorName}">
						
						<option th:each="major : ${major_all}" th:value="${major.name}" th:text="${major.name}"></option>
						
					</select>
				
					
				</div>
				
				<div>
					
					<label for="subjectNameOne">該当教科1</label>
					
					<select th:field="*{subjectNameOne}" class="subject-select" required>
						
						<option th:value="${subjectNameOne}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div>
					
					<label for="subjectNameTwo">該当教科2</label>
					
					<select th:field="*{subjectNameTwo}" class="subject-select" required>
						
						<option th:value="${subjectNameTwo}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div>
					
					<label for="subjectNameThree">該当教科3</label>
					
					<select th:field="*{subjectNameThree}" class="subject-select" required>
						
						<option th:value="${subjectNameThree}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div>
					
					<label for="subjectNameFour">該当教科4</label>
					
					<select th:field="*{subjectNameFour}" class="subject-select">
						
						<option th:value="${subjectNameFour}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div>
					
					<label for="subjectNameFive">該当教科5</label>
					
					<select th:field="*{subjectNameFive}" class="subject-select">
						
						<option th:value="${subjectNameFive}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div>
					
					<label for="subjectNameSix">該当教科6</label>
					
					<select th:field="*{subjectNameSix}" class="subject-select">
						
						<option th:value="${subjectNameSix}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div>
					
					<label for="subjectNameSeven">該当教科7</label>
					
					<select th:field="*{subjectNameSeven}" class="subject-select">
						
						<option th:value="${subjectNameSeven}"></option>
						
						<option th:each="subject : ${subject_all}" th:value="${subject.name}" th:text="${subject.name}"></option>
						
					</select>

					
				</div>
				
				<div class="submit-btns">
					
					<input type="submit" value="確定" />
					
				</div>
				
				
			</form>
		
			
			
		</div>
		
	</main>
	
	
	
	<footer th:replace="~{/manager/layouts/layout :: common_footer_after}">
		
	</footer>
	
	
	
	
	<!-- JS -->

	<script th:src="@{/js/original.js}"></script>
	
	

</body>
</html>