<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>クラス更新画面 | 成績管理システム</title>

<!-- CSS -->

<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
	
	
	
	<header th:replace="~{/manager/layouts/layout :: common_header_after}">
		

		
	</header>
	
	
	
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2>クラス更新画面</h2>
				
			</div>		
				
					
			<div class="sub-link">
				
				<a th:href="@{/manager/class(id=${class_info.id})}">クラス詳細へ</a>
				
			</div>	
				
	
		</div>
		

		
		<div class="container">
		
			
			<p class="err" th:text="${class_set_result}"></p>
			
			<form method="post" th:action="@{/manager/class_update}" class="form class-set-form" th:object="${class_set_data}">
				
				
				<div>
					
					<label for="startYear">入学年度</label>
						
					<input type="text" th:field="*{startYear}" maxlength="10" required />
					
				</div>
				
				<div>
					
					<label for="majorName">専攻名</label>
					

					<select th:field="*{majorName}">
						
						<option th:each="major : ${major_all}" th:value="${major.name}" th:text="${major.name}"></option>
						
					</select>
					
				</div>
				
				<div class="submit-btns">
					
					<input type="submit" value="更新" />
					
				</div>
				
				
			</form>
			
			
		</div>
		
	</main>
	
	
	
	<footer th:replace="~{/manager/layouts/layout :: common_footer_after}">
		
	</footer>
	
	
	
	
	<!-- JS -->

	<script th:src="@{/js/original.js}"></script>

	
	

</body>
</html>