<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>クラス詳細画面 | 授業クラス管理システム</title>

<!-- CSS -->

<link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body th:attr="data-class-register-result=${class_register_result}, data-class-set-result=${class_set_result}">
	
	
	
	<header th:replace="~{/manager/layouts/layout :: common_header_after}">
		

		
	</header>
	
	
	
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2>クラス詳細画面</h2>
				
			</div>		
				
					
			<div class="sub-link">
				
				<a th:href="@{/manager/classes}">クラス一覧へ</a>
				
			</div>	
				
	
		</div>
		

		
		<div class="container">
		
			
			<table class="table class-table border-off" th:object="${class_info}">
				
				
				<tr>
					
					<td>入学年度</td>
					
					<td th:text="*{startYear}"></td>
					
				</tr>
				
				<tr>
					
					<td>専攻名</td>
					
					<td th:text="*{major.name}"></td>
					
				</tr>
				
				<tr>
					
					<td>最終更新者</td>
					
					<td th:text="*{manager.name}"></td>
					
				</tr>
				
				<tr>
					
					<td>最終更新日時</td>
					
					<td th:text="*{#temporals.format(updatedAt, 'yyyy年MM月dd日 HH時')}"></td>
					
				</tr>
				
			</table>
			
			
	</div>
	
	
	
	
	
	

	<div class="page-main-tops">
		
		<div class="sub-title">
			
			<h2>該当教科一覧</h2>
			
		</div>		

	</div>
	
	
	
	<div class="container">
			
		<div class="border-table-cover">
			
			<table class="table border-on class-subject-table">
				
				<thead>
					
					<tr>
						
						<th>教科名</th>
						
						<th>ふりがな</th>
						
						<th>最終更新者</th>
						
						<th>最終更新日時</th>
						
						
						
					</tr>
					
					
				</thead>
				
				<tbody>
					
					<tr th:each="class_subject : ${class_subjects}">
						
						<td th:text="${class_subject.subject.name}"></td>
						
						<td th:text="${class_subject.subject.kana}"></td>
						
						<td th:text="${class_subject.manager.name}"></td>
						
						<td th:text="${#temporals.format(class_subject.updatedAt, 'yyyy年MM月dd日 HH時')}"></td>
						
					</tr>
					
					
					
				</tbody>
				
				
			</table>
			
			
		</div>
		
		
		
		<div class="edit-links">
			
			<a th:href="@{/manager/class_delete(id=${class_info.id})}" onclick="return confirm('本当に削除しますか?');">削除</a>
			
		</div>
			
			
	   </div>
		
	</main>
	
	
	
	<footer th:replace="~{/manager/layouts/layout :: common_footer_after}">
		
	</footer>
	
	
	
	<!-- JS -->

	<script th:src="@{/js/original.js}"></script>

	
	
	<script>
		
		const registerResult = document.body.dataset.classRegisterResult;
		
		const setResult = document.body.dataset.classSetResult;
		
		if (registerResult) window.alert(registerResult);
		
		if (setResult) window.alert(setResult);
		
		
	</script>

</body>
</html>