<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>教科更新画面 | 成績管理システム</title>

<!-- CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />


<!-- JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.autoKana.js}"></script>

<!-- ふりがな自動入力処理 -->

<script type="text/javascript">
	
	$(function() {
		$.fn.autoKana("#name", "#kana");
	});
	
</script>


</head>
<body>
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2>教科更新画面</h2>
				
			</div>		
				
					
			<div class="sub-link">
				
				<a th:href="@{/manager/subject(id=${subject.id})}">教科詳細へ</a>
				
			</div>	
				
	
		</div>
		

		
		<div class="container">
		
			
			<p class="err" th:text="${subject_set_result}"></p>
			
			<form method="post" th:action="@{/manager/subject_update}" class="form subject-set-form" th:object="${subject_set_data}">
				
				
				<div>
					
					<label for="name">教科名</label>
						
					<input type="text" th:field="*{name}" maxlength="30" required />
					
				</div>
				
				<div>
					
					<label for="kana">ふりがな</label>
					
					<input type="text" th:field="*{kana}" maxlength="50" required />
					
				</div>
				
				<div class="submit-btns">
					
					<input type="submit" value="更新" />
					
				</div>
				
				
			</form>
			
			
		</div>
		
	</main>
	
	<script>
		

		
	</script>

</body>
</html>