<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>教科一覧画面 | 授業クラス管理システム</title>

<!-- CSS -->

<link rel="stylesheet" th:href="@{/css/style.css}" />


</head>
<body th:attr="data-subject-delete-result=${subject_delete_result}">
	
	<header th:replace="~{/manager/layouts/layout :: common_header_after}">
		

		
	</header>
	
	
	
	<main>
		
		<div class="page-main-tops">
			
			<div class="sub-title">
				
				<h2>教科一覧</h2>
				
			</div>		
				
					
			<div class="sub-link add-link">
				
				<a th:href="@{/manager/subject_register}">教科追加へ</a>
				
			</div>	
				
	
		</div>
		

		
		<div class="container">
		
			
			<div class="border-table-cover">
			
				<table class="table border-on subjects-table" th:object="${subjects}">
					
					<thead>
						
						<tr>
							
							<th>教科名</th>
							
							<th>ふりがな</th>
							
							<th></th>
							
						</tr>
						
					</thead>
					
					<tbody>
						
						<tr th:if="${!#lists.isEmpty(subjects)}" th:each="subject : ${subjects}">
							
							<td th:text="${subject.name}"></td>
							
							<td th:text="${subject.kana}"></td>
							
							<td><a th:href="@{/manager/subject(id=${subject.id})}">詳細</a></td>
							
						</tr>
						
					</tbody>
	
					
				</table>
			
			</div>
			
			
		</div>
		
	</main>
	
	
	
	<footer th:replace="~{/manager/layouts/layout :: common_footer_after}">
		
	</footer>
	
	
	
	<!-- JS -->

	<script th:src="@{/js/original.js}"></script>



	
	
	<script>
		
		const deleteResult = document.body.dataset.subjectDeleteResult;
		
		if (deleteResult) window.alert(deleteResult);
		
		
		
	</script>

</body>
</html>